# Character Embedding

This notebook is about doing embedding on character from existing data.

In [1]:
import pandas as pd
import numpy as np
import gensim
import pickle
import os

In [2]:
pd.__version__ # Prev --> (0.23.4)
# pip3 install pandas==0.24.1

'0.24.1'

In [3]:
# PATH_DATA='../../data_ws/'
PATH_DATA='../data/clean/'
PATH_DATA_RAW='../data/raw/'

In [4]:
os.listdir(PATH_DATA)

['data20.res',
 'data25.res',
 'data_10.res',
 'data_15.res',
 'data_clean_100k.res',
 'readme.md']

## Get Data

In [5]:
# data = np.loadtxt(PATH_DATA+'training.res')
pickle_in = open(PATH_DATA+'data_clean_100k.res',"rb")
pickle_in2 = open(PATH_DATA_RAW+'word_freq_lower.res',"rb")
data_word = pickle.load(pickle_in)
data_word_len = pickle.load(pickle_in2)

# Standardize that after number must exist space
# Standardize that after punctuation must exist space (but, how about website?)

In [6]:
data_word_len['word_len']=data_word_len.word.apply(len)
data_word_len[(data_word_len.word_len>2)&
              (data_word_len.word_len<30)&
              (~(data_word_len.word.str.contains('.com')))&
              (~(data_word_len.word.str.contains('-')))&
              (~(data_word_len.word.str.contains('/')))].describe()

               freq      word_len
count  42298.000000  42298.000000
mean      27.550286      7.289659
std      272.994645      2.773738
min        1.000000      3.000000
25%        1.000000      5.000000
50%        2.000000      7.000000
75%        7.000000      9.000000
max    27004.000000     26.000000

In [7]:
data_word.shape

(1900000, 2)

In [8]:
data_word.sample(10)

                         source                     target
789355   modalyanginstagramhome  modal yang instagram home
1299101               inisecara                 ini secara
1055778                totalitu                  total itu
1829750         bakalpartailain          bakal partai lain
1560589          tinggipadakita           tinggi pada kita
1154770                 naikdan                   naik dan
1149539                 iniyang                   ini yang
1321479                 darilap                   dari lap
1444452          ituuntuksiaran           itu untuk siaran
39560        membukadenganuntuk       membuka dengan untuk

In [9]:
training_corpus=data_word['source']

In [10]:
training_list_char=[list(ss.lower()) for ss in training_corpus]

In [11]:
model25 = gensim.models.Word2Vec(training_list_char, window=8, min_count=5,size=25)
model50 = gensim.models.Word2Vec(training_list_char, window=8, min_count=5,size=50)
model75 = gensim.models.Word2Vec(training_list_char, window=8, min_count=5,size=75)

In [13]:
model25.wv.vocab

{'i': <gensim.models.keyedvectors.Vocab at 0x1a2eaba940>,
 't': <gensim.models.keyedvectors.Vocab at 0x1a2eaba978>,
 'u': <gensim.models.keyedvectors.Vocab at 0x1a2eaba9b0>,
 'm': <gensim.models.keyedvectors.Vocab at 0x1a2eaba9e8>,
 'l': <gensim.models.keyedvectors.Vocab at 0x1a2eabaa20>,
 's': <gensim.models.keyedvectors.Vocab at 0x1a2eabaa58>,
 'h': <gensim.models.keyedvectors.Vocab at 0x1a2eabaa90>,
 'o': <gensim.models.keyedvectors.Vocab at 0x1a2eabaac8>,
 'n': <gensim.models.keyedvectors.Vocab at 0x1a2eabab00>,
 'g': <gensim.models.keyedvectors.Vocab at 0x1a2eabab38>,
 'a': <gensim.models.keyedvectors.Vocab at 0x1a2eabab70>,
 'k': <gensim.models.keyedvectors.Vocab at 0x1a2eababa8>,
 'y': <gensim.models.keyedvectors.Vocab at 0x1a2eababe0>,
 'p': <gensim.models.keyedvectors.Vocab at 0x1a2eabac18>,
 'e': <gensim.models.keyedvectors.Vocab at 0x1a2eabac50>,
 'b': <gensim.models.keyedvectors.Vocab at 0x1a2eabac88>,
 'r': <gensim.models.keyedvectors.Vocab at 0x1a2eabacc0>,
 'j': <gensim.models.keyedvectors.Vocab at 0x1a2eabacf8>,
 'd': <gensim.models.keyedvectors.Vocab at 0x1a2eabad30>,
 'w': <gensim.models.keyedvectors.Vocab at 0x1a2eabad68>,
 'f': <gensim.models.keyedvectors.Vocab at 0x1a2eabada0>,
 'v': <gensim.models.keyedvectors.Vocab at 0x1a2eabadd8>,
 'c': <gensim.models.keyedvectors.Vocab at 0x1a2eabae10>,
 'z': <gensim.models.keyedvectors.Vocab at 0x1a2eabae48>,
 'x': <gensim.models.keyedvectors.Vocab at 0x1a2eabae80>,
 'q': <gensim.models.keyedvectors.Vocab at 0x1a2eabaeb8>}

In [20]:
model25.wv.similar_by_word('z')

[('q', 0.7610012888908386),
 ('c', 0.5332533121109009),
 ('o', 0.5168983936309814),
 ('f', 0.4637942910194397),
 ('v', 0.4534090459346771),
 ('l', 0.36208823323249817),
 ('i', 0.34110650420188904),
 ('s', 0.29706665873527527),
 ('t', 0.24835117161273956),
 ('x', 0.23739416897296906)]

In [21]:
model50.wv.similar_by_word('z')

[('q', 0.7490050792694092),
 ('o', 0.5615811944007874),
 ('c', 0.550098717212677),
 ('f', 0.4848199784755707),
 ('v', 0.4500850737094879),
 ('i', 0.38591673970222473),
 ('l', 0.3283540904521942),
 ('s', 0.3084544539451599),
 ('t', 0.24884596467018127),
 ('r', 0.20908336341381073)]

In [22]:
model75.wv.similar_by_word('z')

[('q', 0.7941312789916992),
 ('o', 0.5386285185813904),
 ('c', 0.5168725252151489),
 ('f', 0.5040104985237122),
 ('v', 0.4821275472640991),
 ('i', 0.4515276849269867),
 ('l', 0.3715077340602875),
 ('s', 0.28307396173477173),
 ('r', 0.247741237282753),
 ('t', 0.218733012676239)]

In [23]:
model25.save('../models/char_embed_25.res')
model50.save('../models/char_embed_50.res')
model75.save('../models/char_embed_75.res')