## Label Encoder and Feature Representation

In [3]:
import os
import pickle
import pandas as pd
import numpy as np

In [39]:
MAX_LENGTH = 10

In [50]:
folder_path = os.path.join('..', 'data')

In [51]:
data_path = os.path.join(folder_path, 'clean', 'data.res')

In [52]:
data = pickle.load(open(data_path, 'rb'))

In [53]:
data

       source        target
0  selamaelka   selama elka
1  baratuntuk   barat untuk
2  jikaramesh   jika ramesh
3  menjadidan   menjadi dan
4  enambarang   enam barang
5  nantessaat   nantes saat
6  gasligadua  gas liga dua
7  tentunyadi   tentunya di
8  saksikandi   saksikan di
9  farmerakan   farmer akan

In [54]:
def get_label_index(text_list):
    text = "".join(text_list)
    chars = sorted(list(set(text)))
    
    word2idx = dict((w, i) for i, w in enumerate(chars))
    idx2word = dict((i, w) for i, w in enumerate(chars))
    
    return word2idx, idx2word

In [57]:
def get_flag_space(sentence):
    
    no_space = []
    flag_space = []
    sentence = str(sentence)
    for char in sentence: 
        if char != ' ':
            no_space.append(char)
            flag_space.append('0')
        elif char == ' ':
            flag_space[-1] = '1'
            
    no_space = ''.join(no_space)
    flag_space = ''.join(flag_space)
    return flag_space

In [167]:
def char_vectorizer(list_inputs, char_indices):
    x = np.zeros((len([list_inputs]), MAX_LENGTH, len(char_indices)))
    for i, input_ in enumerate([list_inputs]):
        for t, char in enumerate(input_):
            x[i, t, char_indices[char]] = 1
    
    return x

In [ ]:
word2idx, idx2word = get_label_index(data.source)

In [62]:
data['flag_space'] = data['target'].map(get_flag_space)

In [73]:
vector = char_vectorizer([data.loc[0, 'source']], word2idx)

In [168]:
data['matrix'] = data.source.apply(char_vectorizer, args = (word2idx,))

In [169]:
data

,source,target,flag_space,matrix
0,selamaelka,selama elka,0000010000,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
1,baratuntuk,barat untuk,0000100000,"[[[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
2,jikaramesh,jika ramesh,0001000000,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0..."
3,menjadidan,menjadi dan,0000001000,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
4,enambarang,enam barang,0001000000,"[[[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
5,nantessaat,nantes saat,0000010000,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
6,gasligadua,gas liga dua,0010001000,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0..."
7,tentunyadi,tentunya di,0000000100,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
8,saksikandi,saksikan di,0000000100,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
9,farmerakan,farmer akan,0000010000,"[[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0..."